.component{
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(94, 90, 90);
    justify-content: center;
    display: flex;
    position: absolute;
    
}

.component2{
    top:0;
    bottom: 0;
    left: 0;
    width: 400px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: rgb(82, 160, 228);
    
}