<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home-component.component.css">
    <title>Document</title>
</head>
<body>
    <div class="component">
        <div class="component2">
            <button type="button" class="btn btn-primary btn-lg button" (click)="sales()">sales</button>
            <button type="button" class="btn btn-secondary btn-lg button2">estimates</button>
            <button type="button" class="btn btn-secondary btn-lg button3">something</button>


        </div>
        <div id="component3" *ngIf="{'transition1': togglar == true , 'transition2': togglar == false}">

        </div>
            
    </div>
    
</body>
</html>